.App {
  height: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: auto;
  padding: 10px;
  color: white;
}

@keyframes rainbow {
  0% {background: #aa0000;}
  10% {background: #cc8000;}
  20% {background: #cccc00;}
  30% {background: #60cc00;}
  40% {background: #00cc00;}
  50% {background: #00cc60;}
  60% {background: #00cccc;}
  70% {background: #0040cc;}
  80% {background: #0000cc;}
  90% {background: #6000cc;}
  100% {background: #cc0060;}
}


  h5{
    margin: 0px;
  }
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.picture-main-page{
  vertical-align: middle;
  display: -webkit-flex;
  display: flex;
  min-height: 80vh;
  height: auto;
  /*visibility: collapse;*/
}

  .picture-container{
    box-shadow: 0px 0px 3px;
    text-align: center;
    vertical-align: middle;
  }
    .capture-button-container{
      display: inline-block;
      margin: 2px auto;
      width: 100%;
    }
    .capture-button{
      /*position: absolute;
      left: 50%;*/
      display: inline-block;
      margin: 2px auto;
      font-family: tahoma,verdana,arial,sans-serif;
      letter-spacing:0.05px;
      font-size: 4vh;
      background-color: #31578a;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: all ease 0.3s;
    }
    .delete-button{
      /*position: absolute;
      left: 50%;*/
      display: inline-block;
      margin: 2px auto;
      font-family: tahoma,verdana,arial,sans-serif;
      letter-spacing:0.05px;
      font-size: 4vh;
      background-color: #DB4D6D;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: all ease 0.3s;
    }
    .picture-block-fake{
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 5px;
      visibility: collapse;
    }
    .picture-block{
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 5px;
    }
    .message{
      display: inline-block;
      width: 100%;
      font-size: 3vh;
      text-align: center;
      margin: 5px;
    }
.spinner-container{
  display: inline-block;
  margin: 2px auto;
  width: 100%;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 10px auto;
}


.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3b5998;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce1-red, .double-bounce2-red {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 5.0s infinite ease-in-out;
  animation: sk-bounce 5.0s infinite ease-in-out;
}

.double-bounce2-red {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}